# === Build directories ===
target/
build/

# === Configuration files ===
src/main/webapp/META-INF/context.xml

# === Environment files ===
.env

# === IDE files ===
.idea/
.vscode/
*.iml

# === Output folders ===
out/
!**/src/main/**/out/
!**/src/test/**/out/

# === OS / System files ===
.DS_Store
Thumbs.db

# === Logs and temp files ===
*.tmp

# === Maven ===
.mvn/
.settings/
.classpath
.project

# === WAR, JAR, ZIP ===
*.war
*.jar
*.zip

